services:
  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: investrack
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile  
    container_name: backend
    restart: always
    depends_on:
      - db
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: investrack
      DB_USERNAME: root
      DB_PASSWORD: ""
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8000:80"

  workers:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: workers
    depends_on:
      - backend
    command: /var/www/html/start-workers.sh
    volumes:
      - ./backend:/var/www/html

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  db_data:
