.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--bg-gradient);
  color: var(--text-main);
}

.login-side {
  flex: 1;
  background-image: url('/assets/imagenes/imagen1.webp');
  background-size: cover;
  background-position: center;
  height: 100%;
  min-width: 60%;
}

.login-form-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-card {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 28px rgba(0,0,0,0.35);
  animation: fadeIn 0.8s ease;
  color: var(--text-main);
}

.login-title {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--text-main);
}

.login-subtitle {
  font-size: 0.95rem;
  color: #cfcfcf;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.full-width {
  width: 100%;
}


mat-form-field {
  width: 100%;
  color: #9ec7ff;
}

mat-label {
  color: #9ec7ff !important;
  opacity: 0.8;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(33, 150, 243, 0.4) !important;
  transition: border-color 0.3s ease;
}

::ng-deep .mat-mdc-text-field-wrapper:hover {
  border-color: #2196f3 !important;
}

::ng-deep .mdc-text-field--focused {
  border-color: #64b5f6 !important;
  box-shadow: 0 0 8px rgba(100, 181, 246, 0.4) !important;
}


::ng-deep .mat-mdc-input-element {
  color: #e0e0e0 !important;
}


::ng-deep .mat-mdc-icon-button,
::ng-deep .mat-mdc-icon-button svg {
  color: #64b5f6 !important;
  opacity: 0.8;
}


::ng-deep .mdc-line-ripple {
  background-color: #2196f3 !important;
}

::ng-deep .mat-mdc-form-field-required-marker {
  color: #ff5252 !important;
}



.login-button {
  width: 100%;
  padding: 0.9rem;
  font-weight: 600;
  background: transparent;
  color: #2196f3 !important;
  border: 1px solid #2196f3;
  border-radius: 8px;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.secondary-button {
  color: #2196f3;
  border-color: #2196f3 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
